h2 {
    font-family: 'Mitr', sans-serif;
}

h3 {
    font-family: 'Mitr', sans-serif;
    color: #4f4f4f;
}

li {
    font-family: 'Sarabun', sans-serif;
    margin-left: 2%;
}

p{
    font-family: 'Sarabun', sans-serif;
}

dd{
    line-height: 1.8;
}

.img-patient{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

table {
    margin-left: 50px;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    
}

.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 0.2px;
    padding-left: 1px;
  }

  footer {
      background-color: #009688;
      font-family: 'Sarabun', sans-serif;
      padding: 5%;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 25px;
      line-height: 2;

  }

